<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="elton.host.Greeting">
        <endpoint
          address="net.tcp://localhost:8002/GreetEndpoint"
          binding="netTcpBinding"
          contract="elton.host.IGreetings" />
      </service>
    </services>
  </system.serviceModel>
</configuration>